extends layout

block head
  title #{title}

block content

  .col-md-12.aa-bd-sectn
    h2 About AllCAD 
    p
      | AllCAD Consult Limited, is a Nigerian firm of Graphical Information Systems 
      | Consultants who have since inception in 1990, pioneered and driven the automation 
      | of design and drafting in organizations involved in the production and use of technical
      | graphics as a communication medium. Over the years, the company has trained close to two 
      | hundred persons in the use of Computer Aided Design Software. In recent times the 
      | company has also trained staff of some leading organizations in Nigeria on Archibus.
    p
      | The company provides a full range of services, which are described as follows under three categories.
    p
      | AllCAD Consult Limited provides Information Technology solutions that utilize graphical
      | interfaces to measure, Model and Manage physical infrastructure and/ or their spatial context.
    p
      | Since 1991 we have been helping our clients to apply technologies such as:
      ul
        li Computer Aided Design
        li Computer Aided Facilities Management
        li Electronic Measurement
        li Geographical Information Systems
    p
      | Each of these technologies involves the creation of graphical representations of items and connecting 
      | the items with database records that provide additional alpha-numeric information about the item.
    p
      | We believe that our solution wil deliver additional value to your organization because the data we create can 
      | be used as input into other aspects of your organization’s facilities management activities. Our company possesses 
      | the necessary technology and personnel that can deliver within a reasonable period of time. Our technology is 
      | run on the Archibus the world’s CAFM software system. Our company is the authorized Archibus Business Partner in Nigeria.

  .col-md-12.aa-bd-sectn
