extends layout

block head
  title Page Not Found | AllCAD

block content
  .aa-error-page
    h1
      | We couldn't find the page you're looking for
    h4
      | You could start off by visiting our 
      a(href='/') home page
