extends layout

block head
  title title

block content
  .jumbotron.aa-jbt
    h1.aa-jbt-header
      | Graphical Information Technology Solutions
    h4.aa-jbt-subheader
      | AllCAD helps you build infrastructure with absolute confidence based on accurate data

  .aa-bd-sectn
    .col-md6.col-xs-12
      h2 Measure
      img(src="", alt="Measure Image")
    .col-md6.col-xs-12
      p
        | New factory will be delayed ; design won’t fit into the site.
        | Some cell sites have signal reception problems, caused by wrong locations. 
        | Using outdated navigation charts a ship has run aground. 
        | Our Rapid, Accurate, Mapping &amp; Positioning Services help prevent such costly nightmare scenarios. 
        | With company’s having up to 35% of their value on average invested in fixed assets, shareholders,
        | regulators, management, the board, all want to know exactly what each company is worth.
        | Our Asset Data Acquisition Projects deliver accurate and timely asset inventory data.
        
  .aa-bd-sectn
    .col-md6.col-xs-12
      h2 Model
      img(src="", alt="Model Image")
    .col-md6.col-xs-12
      p
        | On the path to physical reality, most projects start with a conceptual model represented 
        | in two or three dimensions. As an Autodesk Authorised Reseller, we provide Computer Aided 
        | Design and Building Information Modelling design automation products and support services. 
        | Our customers use these products to experience and communicate the reality they have conceived 
        | long before they are built or manufactured.

  .aa-bd-sectn
    .col-md6.col-xs-12
      h2 Manage
      img(src="", alt="Manage Image")
    .col-md6.col-xs-12
      p
        | Do more, with less, faster, cheaper, better! Corporate infrastructure managers are very familiar
        | with this constant refrain Integrated Workplace Management Automation Solutions provide a framework
        | to capture and analyse great quantities of diverse information relieving pressure by granting the 
        | understanding needed to utilise corporate infrastructure optimally. We deliver ARCHIBUS® based 
        | Computer Aided Facilities Management Solutions that help our customers connect the dots to see the 
        | big picture about the infrastructure investments on which their businesses depend.