extends layout

block head
  title title

block content
  .jumbotron.aa-jbt
    h1.aa-jbt-header
      | Graphical Information Technology Solutions
    h4.aa-jbt-subheader
      | AllCAD helps you build infrastructure with absolute confidence based on accurate data

  .aa-bd-sectn
    .col-md6.col-xs-12
      h2
      img
    .col-md6.col-xs-12
      p

  .aa-bd-sectn
    .col-md6.col-xs-12
      h2
      img
    .col-md6.col-xs-12
      p

  .aa-bd-sectn
    .col-md6.col-xs-12
      h2
      img
    .col-md6.col-xs-12
      p