doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/stylesheets/layout.css')
    script(src='https://code.jquery.com/jquery-3.1.1.js', integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=', crossorigin='anonymous')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script(src='https://use.fontawesome.com/c17e39b34b.js')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext', rel='stylesheet')
    <link >
    //-----------------
    block head
    //-----------------
  body.aa-body
      nav.aa-header.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#aa-navbar-collapse', aria-expanded='false')
              span.sr-only
                | Toggle navigation              
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              | AllCAD Consult
          .aa-header-items.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/about') About
              li
                a(href='#') Training
              li
                a(href='#') 
      .container-fluid
        .row.aa-body
          .col-md-10.col-md-offset-1
            //-----------------
            block content
            //-----------------
        .row.aa-footer
          .col-md-10.col-md-offset-1
            .col-xs-12.col-sm-3.col-md-3.aa-footer-col
              .aa-footer-logo
                img(src='',alt='AllCAD Logo')
                p 
                  a(href='#') 235 Murtala Mohammed Way, Yaba, Lagos
                p
                  a(href='mailto:info@allcadconsult.com') info@allcadconsult.com
                p
                  a(href='tel:+23414622059') +234 (1) 462-2059
                p &copy; AllCAD Consult Limited 2016
              p.aa-copyright 
            .col-xs-12.col-sm-3.col-md-3.aa-footer-col
              b.aa-footer-col-head
                | Company
              ul.aa-footer-list
                li
                  a(href='#') Careers
                li
                  a(href='#') Press
                //li
                  a(href='#') Contact
                li
                  a(href='#') Legal
                
            .col-xs-12.col-sm-3.col-md-3.aa-footer-col
              b.aa-footer-col-head Community
              ul.aa-footer-list
                li
                  //- Create Medium publication to serve as blog and add it to this. 
                  //-- Consider getting custom URl for Medium from hosting service 
                  //--- (blog.allcadconsult.com or allcadconsult.com/blog)
                  a(href='https://medium.com/')
                    i.aa-icon.fa.fa-medium
                    | Blog 
                li
                  a(href='https://twitter.com/ayoaderele') 
                    i.aa-icon.fa.fa-twitter
                    | Twitter 
                li
                  a(href='https://www.linkedin.com/company/6840720')
                    i.aa-icon.fa.fa-linkedin
                    | LinkedIn 
            .col-xs-12.col-sm-3.col-md-3.aa-footer-col
              b.aa-footer-col-head Support
              ul.aa-footer-list
                li
                  a(href='#') Screen Sharing
                li
                  a(href='#') Video Support
                li
                  a(href='#') Support API
              

        