
.aa-jbt{
  background-color: transparent !important;
  height: 500px !important;  
  padding-top: 100px;
  z-index: 2;
}

.aa-jbt:before{
  background-color: transparent !important;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right;
  background-image: url('../images/jumbotron_1.svg');
  opacity: 0.6;
}

.aa-jbt::before{
  background-color: transparent !important;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right;
  background-image: url('../images/jumbotron_1.svg');
  opacity: 0.6;
}

.aa-jbt img{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 500px;
    opacity: 0.6;
    transform: rotate(10deg);
    margin-left: 35%;
}

.aa-jbt-actions{
    padding: 20px;
}

.aa-jbt-actions button{
    padding: 8px;
    background-color: transparent;
    border: 2px solid var(--text-color);
    font-weight: bold;
    margin-right: 15px;
    transition: all 0.1s;
}

.aa-jbt-actions button:hover{
    background-color: var(--text-color);
    color: var(--bg-color);
}

.aa-bd-testimonies h3{
    text-align: center;
}

.aa-bd-testimonies .col-md-3 h4{
    text-align: center;
    color: var(--text-color-2);
}

.aa-bd-testimonies .col-md-3 p{
    color: var(--text-color-2);
}

.aa-buffer-1{
    height: 50px;
}

.aa-buffer-2{
    height: 100px;
}

