:root{
  --bg-color: rgb(1, 63, 66);
  --text-color: #f8f8f8;
  --text-color-2: #ccc;

}

.aa-body {
  padding: 0px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Open Sans', sans-serif; /* From fonts.google.com*/
  background-color: var(--bg-color); /* #013f42 */
  border-color: var(--bg-color) !important;
  color: var(--text-color);
  border-radius: 0px !important;
}

a{
  text-decoration: none;
  color: inherit;
}

.aa-header {
  background-color: transparent !important;
  border-color: transparent !important;
  color: var(--text-color) !important;
  padding-left: 5%;
  padding-right: 5%;
}

.aa-header-items{
  font-size: 20px;
  color: var(--text-color) !important;
}

.aa-header-items ul li a{
  color: var(--text-color) !important;
}

.aa-header-items ul li a:hover {
  color: var(--text-color-2) !important;
  text-decoration: underline;
}

.aa-bd-sectn{
  padding: 20px;
}

.aa-footer{
  padding: 3%;
  /*
  padding-left: auto;
  padding-right: auto;
  padding-bottom: auto;
  */
  color: var(--text-color-2);
  background-image: url('/images/background_pattern_tiled.svg');
  background-position-y: 100%;
  background-repeat: repeat-x;
}

.aa-footer-logo p{
  font-size: 12px;
  font-weight: bold;  
  color: inherit !important;
  text-decoration: none;
}

.aa-footer-logo p a{
  color: inherit !important;
  
}

.aa-footer-col-head{
  font-size: 18px;
}

.aa-footer-list{
  list-style: none;
  list-style-type: none;
  padding: 5px;
  font-size: 14px;
}

.aa-footer-list li{
  padding: 3px;
}

.aa-footer-list li a{
  color: inherit;
}

.aa-icon{
  margin-right: 8px;
}

.aa-error-page{
  height: 500px;
  padding-top: 10%;
  padding-bottom: auto;
}

.aa-error-page h4 a{
  color: inherit;
  text-decoration: underline;
}

/* Index stuff */


/* Background SVG color: rgb(2, 97, 100) */

/*** HIGHLIGHTING ***/
::selection { background-color: teal; color: #000; }

::-moz-selection { background-color: teal; color: #000; }

::-o-selection { background-color: teal; color: #000; }

::-ms-selection { background-color: teal; color: #000; }

::-webkit-selection { background-color: teal; color: #000; }