.aa-body {
  padding: 0px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Open Sans', sans-serif; /* From fonts.google.com*/
  background-color: rgb(1, 63, 66); /* #013f42 */
  border-color: rgb(1, 63, 66) !important;
  color: #f8f8f8;
  border-radius: 0px !important;
  
}

a{
  text-decoration: none;
  color: inherit;
}

.aa-header {
   background-color: transparent !important;
   border-color: transparent !important;
   color: #f8f8f8 !important;
}

.aa-bd-sectn{
  padding: 20px;
}

.aa-footer{
  padding:5%;
  color: #ccc;
  background-image: url('/images/background_pattern_tiled.svg');
  background-position-y: 100%;
  background-repeat: repeat-x;
}

.aa-footer-logo p{
  font-size: 12px;
  font-weight: bold;  
}

.aa-footer-col-head{
  font-size: 18px;
}

.aa-footer-list{
  list-style: none;
  list-style-type: none;
  padding: 5px;
  font-size: 14px;
}

.aa-footer-list li{
  padding: 3px;
}

.aa-footer-list li a{
  color: inherit;
}

.aa-icon{
  margin-right: 8px;
}


/* Index stuff */
.aa-jbt{
  background-color: transparent !important;
  height: 50%;
}

/* Background SVG color: rgb(2, 97, 100) */

/*** HIGHLIGHTING ***/
::selection { background-color: teal; color: #000; }

::-moz-selection { background-color: teal; color: #000; }

::-o-selection { background-color: teal; color: #000; }

::-ms-selection { background-color: teal; color: #000; }

::-webkit-selection { background-color: teal; color: #000; }