.aa-body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(1, 63, 66); /* #013f42 */
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
